# Java
.classpath
.project
.settings/
.idea/
target/
*.iml

# Maven
.mvn/
mvnw
mvnw.cmd

# Node.js
node_modules/
.npm

# IDE
.vscode/
.DS_Store

# Application
*.log
*.swp
*.swo

# Environment Variables & Sensitive Files
.env
.env.local
**/.env.local
application-local.properties
**/application-local.properties

# System Files
.DS_Store
Thumbs.db
